{% extends "base.html" %}

{% block title %} &#127926; DJ Fouried &#127926; {% endblock %}

{% block content %}
    <h1>&#127925; DJ Fouried &#127925;</h1>
    <br />
    <br />
    <p> Ever thought of a really cool melody but just couldn’t seem to continue it? It’s okay, not everyone is Mozart, and definitely not everyone is DJ Khaled. But with a little generative AI, maybe you can be! (the latter )  &#128521
    </p>
   
   
   <p> You can upload a 10 second vocal melody in the section The Program. It will then create a longer piece based on your melody - a variation on your theme.  For creative infringement reasons, this program should be used on new melodies. We’re not here to take away work from musicians. 
   </p>
    <br />
    <br />
    <br />
    <br />
    <p> 
        Link to our <a href="URL">Devpost</a> <br>
        Link to our <a href="URL">GitHub</a> <br>
    </p>
{% endblock %}
